# Template notebook

Create a copy of this template for each data field you study. Don't cram all your work into one notebook!

In [1]:
import pandas as pd
import numpy as np

from utils import *

In [2]:
df = load_csv_export_dataset("export_dataframe_stage2.csv")

/Users/robclewley/.pyenv/versions/3.7.5/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (12,18,19,21,22,29,30,31,33,34,54,61,62,63,64,70,71,72,75,76,77,84,85,86) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,group_rid,GroupName,site_rid,SiteName,SiteLocation,event_rid,event_date,volunteer_time,...,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings,state,county,latlong
0,0,0,840,Rails to Trails,18,West Fork of Little River,34.4103 -83.8462,92,1999-04-17 09:45:00,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia,Hall,"(34.4103, -83.8462)"
1,1,1,840,Rails to Trails,18,West Fork of Little River,34.4103 -83.8462,93,1999-02-20 09:00:00,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia,Hall,"(34.4103, -83.8462)"
2,2,2,297,"Apalachee Water Watchers, Walton Clean & Beaut...",44,Apalachee River,33.8406 -83.5584,94,1999-02-06 09:00:00,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia,Walton,"(33.8406, -83.5584)"
3,3,3,297,"Apalachee Water Watchers, Walton Clean & Beaut...",44,Apalachee River,33.8406 -83.5584,95,1998-09-19 10:00:00,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia,Walton,"(33.8406, -83.5584)"
4,4,4,297,"Apalachee Water Watchers, Walton Clean & Beaut...",44,Apalachee River,33.8406 -83.5584,96,1998-08-22 09:00:00,180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia,Walton,"(33.8406, -83.5584)"