In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import csv
import time
from collections import defaultdict, Counter

In [3]:
import json
from urllib.request import Request, urlopen
import pickle

In [216]:
import pandas as pd
import numpy as np
import geopandas as gpd
import shapely
from shapely.geometry import shape, Point
import shapefile
from geopy import distance

In [5]:
import plotly.figure_factory as ff
import plotly.io as pio
import plotly as plt
pio.renderers.default = "jupyterlab"
import plotly.express as px
import plotly.graph_objects as go

In [6]:
from tqdm import tqdm

In [7]:
from utils import *

In [287]:
df = load_csv_export_dataset("export_dataframe_stage1.csv")

/Users/robclewley/.pyenv/versions/3.7.5/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning:

Columns (10,16,17,19,20,27,28,29,31,32,52,59,60,61,62,68,69,70,73,74,75,82,83,84) have mixed types.Specify dtype option on import or set low_memory=False.

In [36]:
locs = df[['SiteName', 'SiteLocation']]

In [13]:
len(locs)

63951

In [10]:
locs.head()

                    SiteName       SiteLocation
0  West Fork of Little River  34.4103  -83.8462
1  West Fork of Little River  34.4103  -83.8462
2            Apalachee River  33.8406  -83.5584
3            Apalachee River  33.8406  -83.5584
4            Apalachee River  33.8406  -83.5584

# NULLs and test sites

In [47]:
df[df['SiteLocation'].isna()]['SiteName'].value_counts()

Test Site    154
Name: SiteName, dtype: int64

This shows that all empty locations are associated with "Test Site", and strongly suggests the whole records are not real data points.

So let's remove 'NULL' locations in the CSV (recorded as np.nan in the dataframe parsing) locations from the dataset.

We might also provide a means to remove the full records from the dataset and update the data for other users.

In [291]:
df = df[~df['SiteLocation'].isna()]

In [38]:
#locs = locs[locs['SiteLocation'] != 'NULL']
locs = locs[~locs['SiteLocation'].isna()]

Notice how these coordinates are stored in an awkward string format. Let's break these out to pairs of floats, which will enable us to do more with GIS utilities.

In [35]:
loc_pairs, geo_locs, gdf = get_loc_objects_from_series(locs['SiteLocation'])

# Distribution of locations

Make sure to unzip the file in the geodata folder first.

In [218]:
# watershed boundaries
WBD_gj = shapefile.Reader("geodata/hydrologic_units_WBDHU12_ga_3975106_02/hydrologic_units\wbdhu12_a_ga.shp").__geo_interface__

Demonstrate that the max inter-site distance is < 450 miles

In [84]:
GA_map = get_state_map()

In [21]:
GA_map.head()

,FIPS,STNAME,County,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,NHWA_MALE,NHWA_FEMALE,NHWhite_Alone,Not_NHWhite_Alone,MinorityMinority,MinorityPCT,Black,BlackPCT,Hispanic,HispanicPCT
2807,13001,Georgia,Appling,18368,9294,9074,7197,7139,6284,6520,12804,5564,No,30.29%,3607,20%,1728,9.41%
2808,13003,Georgia,Atkinson,8284,4203,4081,3291,3143,2317,2371,4688,3596,No,43.41%,1459,18%,2050,24.75%
2809,13005,Georgia,Bacon,11198,5562,5636,4558,4592,4094,4273,8367,2831,No,25.28%,1790,16%,890,7.95%
2810,13007,Georgia,Baker,3366,1606,1760,858,876,796,823,1619,1747,Yes,51.90%,1551,46%,152,4.52%
2811,13009,Georgia,Baldwin,46367,23365,23002,13011,12750,12638,12391,25029,21338,No,46.02%,19150,41%,977,2.11%

In [85]:
fips = GA_map['FIPS'].tolist()

In [226]:
len(WBD_gj['features'])

1860

In [229]:
wbd_names = set([wbd['properties']['name'] for wbd in WBD_gj['features']])

In [232]:
# some overlap in site names to watershed boundaries
len([sn for sn in df['SiteName'].unique() if sn in wbd_names])

137

### Plot distribution of unique record locations using mapbox

In [ ]:
fig = px.choropleth_mapbox(pd.DataFrame(data={'name': [wbd['properties']['name'] for wbd in WBD_gj['features']]}),
                           geojson=WBD_gj,
                           locations="name",
                           featureidkey="properties.name",
                           center={"lat": 32.8407, "lon": -83.6324}, # macon
                           mapbox_style="stamen-terrain", #"carto-positron",
                           zoom=6,
                           opacity=0.3,
                      )

fig.add_scattermapbox(
    lat = gdf.geometry.x,
    lon = gdf.geometry.y,
    mode = 'markers',
    hovertext = [d['County']['name'] for d in loc_lookup],
    marker_size=4,
    marker_color='rgb(235, 0, 100)'
)

fig.update_layout(margin={"r":0, "t":0, "l":0, "b":0})
fig.show()

### Alternate plot of distribution of unique record locations

In [ ]:
fig = go.Figure(go.Scattergeo())
fig.layout.template = None
fig.add_scattergeo(
    lat = gdf.geometry.x,
    lon = gdf.geometry.y,
    hoverinfo='none',
    #mode = 'markers+text',
    #text = texts,
    marker_size = 2,
    marker_color = 'rgb(235, 0, 100)'
)
fig.update_geos(
    visible=False, resolution=110, scope="usa",
    showcountries=True, countrycolor="Black",
    showsubunits=True, subunitcolor="Black"
)
fig.show()

## Incorporate watershed boundaries

In [240]:
WBD_polygons = [shape(feature['geometry']) for feature in WBD_gj['features']]

In [271]:
poly = WBD_polygons[0]

In [273]:
for i, poly in enumerate(WBD_polygons):
    if not poly.is_valid:
        print(i)

In [277]:
for i, poly in enumerate(WBD_polygons):
    if poly.is_empty:
        print(i)

The polys generally do not appear to be closed. Could this be why they don't all show up correctly in the plot, and fail to fill the whole state's area?

Are we missing WBD polys that will prevent some record locations from being properly associated with a WBD?

In [278]:
poly.is_closed

False

In [345]:
ll = df[['lat', 'long']]

In [417]:
# TODO: create and use bounding boxes to get rough likelihood of containment before computing on the whole polygon
point_lookup_cache = {}
wbds = []
for lat, long in tqdm(ll.values):
    wbd_name = None
    try:
        wbd_name = point_lookup_cache[(long, lat)]
    except KeyError:
        point = Point(long, lat)
        for feat_idx, poly in enumerate(WBD_polygons):
            if poly.contains(point):
                wbd_name = WBD_gj['features'][feat_idx]['properties']['name']
                break
        point_lookup_cache[(long, lat)] = wbd_name
    wbds.append(wbd_name)

100%|██████████| 63797/63797 [00:08<00:00, 7219.17it/s]

In [418]:
wbds.count(None)

4237

In [419]:
len(wbds) - wbds.count(None)

59560

In [420]:
set([name for name in wbds if name is not None])

{'030702040405',
 'Acorn Creek-Chattahoochee River',
 'Alapaha-Alapaha River',
 'Albany-Flint River',
 'Allatoona Creek-Lake Allatoona',
 'Allen Creek',
 'Altamaha Sound-Frontal Atlantic Ocean',
 'Amys Creek-Chattahoochee River',
 'Anneewakee Creek',
 'Arabia Swamp',
 'Arkaqua Creek-Nottely River',
 'Augusta Canal-Savannah River',
 'Avery Creek-Mill Creek',
 'Baileys Branch-Satilla River',
 'Baker Branch-Ogeechee River',
 'Bald Ridge Creek',
 'Baldwin Creek-Bear Creek',
 'Barbar Branch',
 'Barbers Creek-Satilla River',
 'Battle Creek-Ohoopee River',
 'Bear Branch',
 'Bear Creek',
 'Beaver Creek-Ohoopee River',
 'Beaver Ruin Creek',
 'Beaverdam Creek-Alcovy River',
 'Beaverdam Ditch-Savannah River',
 'Bell Creek-Potato Creek',
 'Ben Creek-Alapaha River',
 'Big Branch-Canoochee River',
 'Big Branch-Seventeen Mile River',
 'Big Cedar Creek',
 'Big Creek',
 'Black Mill Creek-Etowah River',
 'Blackbank River-Frontal Atlantic Ocean',
 'Blue Creek-Yellowjacket Creek',
 'Blue John Creek',
 'Bluestone Creek-Broad River',
 'Boggy Bay-Alapaha River',
 'Boone Creek',
 'Bow Creek-Oostanaula River',
 'Boyd Branch-Ogeechee River',
 'Brewton Creek',
 'Brier Creek-Pataula Creek',
 'Broxton Creek',
 'Brush Creek',
 'Buck Creek',
 'Buck Creek-Flint River',
 'Buck Creek-Oconee River',
 'Bullpen Branch-Holly Creek',
 'Butler Creek',
 'Butternut Creek-Nottely River',
 'Cabbage Creek-St. Marys River',
 'Cabin Creek',
 'Calls Creek-Middle Oconee River',
 'Camp Bert Adams Lake-Chattahoochee River',
 'Camp Creek',
 'Camp Creek-South River',
 'Campbell Creek-Little River',
 'Canada Creek-Toccoa River',
 'Cane Creek',
 'Cane Water Pond',
 'Caney Branch-Satilla River',
 'Canton Creek',
 'Carr Branch-Yellow River',
 'Casey Canal-Haneys Creek',
 'Cason Branch-Rocky Comfort Creek',
 'Cat Creek-Seventeen Mile River',
 'Catfish Creek-St. Marys River',
 'Cauley Creek-Chattahoochee River',
 'Cavenders Creek-Chestatee River',
 'Cedar Creek',
 'Cedar Creek-North Oconee River',
 'Chattanooga Creek',
 'Chatuge Lake',
 'Chickamauga Creek',
 'Chicken Creek',
 'City of Rome-Etowah River',
 'Clear Creek-Kinchafoonee Creek',
 'Clear Creek-Pataula Creek',
 'Clear Creek-Rocky Comfort Creek',
 'Clyatt Mill Creek',
 'Cochrans Creek',
 'Conasauga Creek',
 'Coody Creek-Broad River',
 'Cooper Creek',
 'Cooper Creek-Bull Creek',
 'Coosa Creek',
 'Coosawattee River-Carters Lake',
 'Copper Sandy Creek',
 'Cornhouse Creek',
 'Cornish Creek',
 'Cox Creek-Long Swamp Creek',
 'Cox Creek-Satilla River',
 'Crooked Creek-Chattahoochee River',
 'Crooked Creek-North Oconee River',
 'Crow Hop-Chattahoochee River',
 'Cumberland Sound-Frontal Atlantic Ocean',
 'Curry Creek',
 'Dasher Creek-Savannah River',
 'Davis Creek',
 'Deep Creek',
 'Deep Creek-Broad River',
 'Deep Creek-St. Marys River',
 'Deer Creek-Muckalee Creek',
 'Demott Lake-Ochlockonee River',
 'Dicks Creek',
 'District Hollow Branch-Gum Swamp Creek',
 'Doboy Sound-Frontal Atlantic Ocean',
 'Dog Branch-Yellow River',
 'Dooley Creek-Nottely River',
 'Douglas Lake-Big Slough',
 'Dove Creek',
 'Dowdell Creek',
 'Dozier Branch-Little River',
 'Dozier Creek-Oostanaula River',
 'Drag Nasty Creek-Chattahoochee River',
 'Dried Indian Creek-Yellow River',
 'Drowning Bear Creek',
 'Dry Branch-Ogeechee River',
 'Dry Creek',
 'Duncan Creek-Mulberry River',
 'Dykes Creek',
 'East Branch Long Swamp Creek',
 'East Fork Little River',
 'Ebenezer Creek',
 'Eddards Creek-Alligator Creek',
 'Emery Creek-Holly Creek',
 'Etowah River-Lake Allatoona',
 'Fambro Creek-Towaliga River',
 'Fivemile Branch-Muckalee Creek',
 'Fivemile Creek',
 'Flat Creek',
 'Flat Creek-Chattahoochee River',
 'Flat Creek-Coosawattee River',
 'Flat Creek-Flint River',
 'Flat Creek-Withlacoochee River',
 'Flat Wood Creek-Tallapoosa River',
 'Flatrock Creek-Bull Creek',
 'Fords Creek-Ogeechee River',
 'Foreman Mill Branch-Hodchodkee Creek',
 'Fourmile Creek-Long Swamp Creek',
 'Freeman Creek-Appalachee River',
 'Fullwood Creek-Satilla River',
 'Garner Creek-Yellow River',
 'Glady Creek',
 'Gleaton Johnson Slough-Flint River',
 'Gola Creek-Potato Creek',
 'Goldmine Branch-Holly Creek',
 'Greenbrier Creek',
 'Greene Creek-Tallapoosa River',
 'Gum Creek',
 'Gum Creek-Flint River',
 'Hampton Island-Conasauga River',
 'Hampton Lake',
 'Hardin Canal-Little Ogeechee River',
 'Hardy Mill Creek',
 'Harris Creek-St. Marys River',
 'Hazel Creek',
 'Headwaters Big Creek',
 'Headwaters Elkins Creek',
 'Headwaters Etowah River',
 'Headwaters Flint River',
 'Headwaters Mill Creek',
 'Headwaters Nottely River',
 'Headwaters South River',
 'Headwaters West Fork Chattooga River',
 'Headwaters White Oak Creek',
 'Heiferhorn Creek',
 'Hickory Log Creek',
 'Hightower Creek',
 'Hinton Creek-Chattooga River',
 'Hinton Creek-Long Swamp Creek',
 'Hiwassee River-Chatuge Lake',
 'Hobson Creek-Talking Rock Creek',
 'Hollonville-Flint River',
 'Holly Creek-Little Tallapoosa River',
 'Honey Bee Creek-Potato Creek',
 'Honey Creek',
 'Honey Creek-South River',
 'Horton Creek-Flint River',
 'Hughes Prong-Canoochee Creek',
 'Hurricane Creek-Alcovy River',
 'Hurricane Creek-Etowah River',
 'Hutchinson Mill Creek',
 'Indian Creek-Satilla River',
 'Ivy Creek',
 'Ivylog Creek',
 'Jackson Branch-Ogeechee River',
 'Jackson Creek',
 'James Creek-Chattahoochee River',
 'James Pond-Kinchafoonee Creek',
 'Jerico River-Laurel View River',
 'Jerry Reeves Creek-Potato Creek',
 'Jims Creek-Fifteen Mile Creek',
 'Jobs Creek-Conasauga River',
 'Johns Creek',
 'Jointer Creek-Little Satilla River',
 'Jolly River',
 'Jug Creek-Etowah River',
 'Julieton River-Sapelo River',
 'Kells Creek-Ellijay River',
 'Kemp Creek',
 'Kettle Creek-Satilla River',
 'Knights Branch-Alapah River',
 'Lake Alcyone-Withlacoochee River',
 'Lake Allatoona',
 'Lake Creek',
 'Lake Oconee-Lake Sinclair',
 'Lane Creek-Pumpkinvine Creek',
 'Latham Creek',
 'Level Creek-Chattahoochee River',
 'Lick Creek-Salacoa Creek',
 'Lick Log Creek-Mill Creek',
 'Licklog Creek-Cartecay River',
 'Limestone Creek-Lake Sidney Lanier',
 'Linton Lake',
 'Little Alatoona Creek',
 'Little Amicalola Creek',
 'Little Branch',
 'Little Brushy Creek',
 'Little Buffalo Creek',
 'Little Cedar Creek',
 'Little Creek-Satilla River',
 'Little Dry Creek-Oostanaula River',
 'Little Fightingtown Creek-Fightingtown Creek',
 'Little Lotts Creek',
 'Little Mulberry River',
 'Little Potato Creek',
 'Little River-Lake Allatoona',
 'Little River-Lake Sidney Lanier',
 'Little Satilla River',
 'Little Suwanee Creek-Yellow River',
 'Llyod Creek-Savannah River',
 'Long Branch-Rock Creek',
 'Long Island Creek-Chattahoochee River',
 'Lost Creek',
 'Lovejoy Creek-Oostanaula River',
 'Lower Amicalola Creek',
 'Lower Barber Creek',
 'Lower Beech Creek',
 'Lower Big Cotton Indian Creek',
 'Lower Big Creek',
 'Lower Big Haynes Creek',
 'Lower Brasstown Creek',
 'Lower Buffalo Creek',
 'Lower Cedar Creek',
 'Lower Centralhatchee Creek',
 'Lower Cooleewahee Creek',
 'Lower Crooked River',
 'Lower Deep Creek',
 'Lower Dog River',
 'Lower Elkins Creek',
 'Lower Euharlee Creek',
 'Lower Fishing Creek',
 'Lower Flat Shoal Creek',
 'Lower Fork Broad River',
 'Lower Gum Creek',
 'Lower Hat Creek',
 'Lower Holanna Creek',
 'Lower Hollow Creek-Savannah River',
 'Lower Horse Creek',
 'Lower Lake Blackshear',
 'Lower Little Chickamauga Creek',
 'Lower Little Cotton Indian Creek',
 'Lower Little Ichauwaynochaway Creek',
 'Lower Little River',
 'Lower Long Cane Creek',
 'Lower Mossy Creek',
 'Lower Mountain Creek',
 'Lower Mountaintown Creek',
 'Lower New River',
 'Lower Noonday Creek',
 'Lower Noses Creek',
 'Lower Pendelton Creek',
 'Lower Piscola Creek',
 'Lower Pudding Creek',
 'Lower Red Oak Creek',
 'Lower Reedy Creek',
 'Lower Rooty Creek',
 'Lower Sandy Creek',
 'Lower Settingdown Creek',
 'Lower Shoal Creek',
 'Lower South Chickamauga Creek',
 'Lower Spanish Creek',
 'Lower Spirit Creek',
 'Lower Stekoa Creek',
 'Lower Sumac Creek',
 'Lower Sweetwater Creek',
 'Lower Swift Creek',
 'Lower Tatum Creek',
 'Lower Taylors Creek',
 'Lower Tesnatee Creek',
 'Lower Tugaloo River',
 'Lower Tussahaw Creek-Jackson Lake',
 'Lower Walnut Creek',
 'Lower Warwoman Creek',
 'Lower White Oak Creek',
 'Lower Whitewater Creek',
 'Lower Willacoochee River',
 'Macedonia Slough-Etowah River',
 'Machalee Creek-Lake Worth',
 'Mackay River-Frontal Atlantic Ocean',
 'Manson Branch-Ogeechee River',
 'March Creek-Chattahoochee River',
 'McGrady Bend-Armuchee Creek',
 'McNutt Creek',
 'Medway River-Frontal Atlantic Ocean',
 'Meeting House Bay-Alapaha River',
 'Meetinghouse Branch-Little River',
 'Middle Big Creek',
 'Middle Big Indian Creek',
 'Middle Cooleewahee Creek',
 'Middle Elkins Creek',
 'Middle Euharlee Creek',
 'Middle Flat Shoal Creek',
 'Middle Horse Creek',
 'Middle Lake Sidney Lanier',
 'Middle Line Creek',
 'Middle New River',
 'Middle Red Oak Creek',
 'Middle Turkey Creek',
 'Miles Branch-Ogeechee River',
 'Mill Branch-Ogeechee River',
 'Mill Creek-Alapaha River',
 'Mill Creek-Hiawassee River',
 'Mill Creek-Little Ocmulgee River',
 'Mill Shoal Creek',
 'Moody Branch-Conasauga River',
 'Moon Lake-Chattahoochee River',
 'Morgans Bridge-Ogeechee River',
 'Morning Creek',
 'Morton Bend',
 'Mountain Creek-Alcovy River',
 'Mountain Oak Creek',
 'Mud Creek',
 'Mule Creek',
 'Murphy Creek-Flint River',
 'Nancy Creek',
 'Nickajack Creek',
 'Nimblewill Creek',
 'No Business Creek-Yellow River',
 'Noontootla Creek',
 'North Fork Peachtree Creek',
 'Nottely Lake-Nottely River',
 'Odessadale',
 'Okeefenokee Swamp',
 'Oliver Creek',
 'Olley Creek',
 'Oquina Creek',
 'Ossabaw Sound-Frontal Atlantic Ocean',
 'Otter Creek',
 'Outlet Mill Creek',
 'Outlet Okapilco Creek',
 'Outlet Savannah River',
 'Owltown Creek-Cartecay River',
 'Palm Creek-Alcovy River',
 'Palmer Branch-Brier Creek',
 'Palmer Creek-Etowah River',
 'Palmetto Creek',
 'Pea Creek',
 'Peachtree Creek',
 'Peavine Creek',
 'Penholoway Swamp-Altamaha River',
 'Pennahatchee Creek',
 'Pennahatchee Creek-Turkey Creek',
 'Perry Creek-Conasuaga River',
 'Pettit Creek',
 'Pew Creek-Yellow River',
 'Philema Branch-Flint River',
 'Phillips Pond-Pataula Creek',
 'Pigeon Creek',
 'Pine Creek-Ochlockonee River',
 'Pipemaker Canal',
 'Pole Bridge Creek-South River',
 'Possum Creek',
 'Powder Springs Creek',
 'Proctor Creek-Chattahoochee River',
 'Rainy Creek-Okapilco Creek',
 'Rapier Mill Creek-Nottely River',
 'Raulerson Swamp-Satilla River',
 'Redland Creek',
 'Reed Bingham Park Lake',
 'Reedy Creek-Alapaha River',
 'Reedy Creek-Canoochee River',
 'Reedy Creek-Gum Swamp Creek',
 'Riggin Creek-Etowah River',
 'Rigsby Lake-Big Slough',
 'Robinson Creek',
 'Rock Creek',
 'Rock Pond-Big Slough',
 'Rocky Branch-Canoochee River',
 'Rocky Creek',
 'Rocky Creek-Jackson Lake',
 'Rocky Creek-Johns Creek',
 'Rocky Creek-Little River',
 'Rose Creek',
 'Rose Creek-Potato Creek',
 'Rose Creek-Satilla River',
 'Rottenwood Creek',
 'Rubes Creek',
 'Sabbath Creek-Ocmulgee River',
 'Saint Andrew Sound-Frontal Atlantic Ocean',
 'Saint Peters Bluff-Ogeechee River',
 'Salt Creek-Little Ogeechee River',
 'Sandy Creek',
 'Sandy Mount Creek',
 'Sapelo Sound-Frontal Atlantic Ocean',
 'Sasser Landing Cemetary-Alapaha River',
 'Scull Shoal Creek-Broad River',
 'Shaddock Creek-Oconee River',
 'Shoal Creek',
 'Shoal Creek-Alcovy River',
 'Shoal Creek-Oconee River',
 'Shoal Creek-South River',
 'Shooting Creek',
 'Shrimp Creek-Ogeechee River',
 'Silver Creek',
 'Simon Creek-Fifteen Mile Creek',
 'Simpson Creek',
 'Sixmile Creek',
 'Smith Creek-Chattahoochee River',
 'Smith Lake-Ohoopee River',
 'Smithee Jack Creek-Hodchodkee Creek',
 'Smithwick Creek-Etowah River',
 'Smut Branch-Satilla River',
 'Snake Creek-Oostanaula River',
 'Snapfinger Creek',
 'Snapping Shoals Creek',
 'Snuff Box Swamp-Buffalo Swamp',
 'Soap Creek',
 'Soap Creek-Chattahoochee River',
 'Sope Creek',
 'South Fork Peachtree Creek',
 'South River-Jackson Lake',
 'Sparkman Creek',
 'Spring Branch-Spring Creek',
 'Spring Creek',
 'Spring Creek-Lake Seminole',
 'Spring Mill Branch-Buckhead Creek',
 'Standing Boy Creek',
 'Stanley Branch',
 'Steel Creek-Williamson Swamp Creek',
 'Sterling Creek-Ogeechee River',
 'Stiles Creek-Etowah River',
 'Stockton Creek-North Oconee River',
 'Stone Mountain Creek',
 'Strouds Creek-Alcovy River',
 'Sugar Creek',
 'Sugar Creek-South River',
 'Sulpher Spring Branch-Beaverdam Creek',
 'Suwanee Creek',
 'Suwannee Creek',
 'Sweetwater Creek',
 'Taliaferro Creek',
 'Tate Creek-Chestatee River',
 'Taylor Creek',
 'Thompson Creek-Towaliga River',
 'Thompson Mill Creek-Ocmulgee River',
 'Tiger Creek',
 'Tiger Creek-Upatoi Creek',
 'Tiger Creek-Withlacoochee River',
 'Tobler Creek-Oconee River',
 'Town Creek',
 'Town Creek-Oostanaula River',
 'Town of Bartlett-Buck Creek',
 'Town of Birmingham-Little River',
 'Town of Colquitt-Spring Creek',
 'Town of Pelham-Big Slough',
 'Town of Webb-Coosawattee River',
 'Trail Creek-North Oconee River',
 'Troublesome Creek-Towaliga River',
 'Tuggle Creek-Chattahoochee River',
 'Turkey Creek-Appalachee River',
 'Turkey Creek-Flint River',
 'Turniptown Creek-Ellijay River',
 'Turnpike Creek',
 'Turtle River',
 'Turtle River-South Brunswick River',
 'Twentynine Mile Creek',
 'Uchee Creek',
 'Upper Amicalola Creek',
 'Upper Aucilla River',
 'Upper Barnetts Creek',
 'Upper Big Cotton Indian Creek',
 'Upper Big Creek',
 'Upper Big Haynes Creek',
 'Upper Big Indian Creek',
 'Upper Brasstown Creek',
 'Upper Cemochehobee Creek',
 'Upper Chattooga River',
 'Upper Elkins Creek',
 'Upper Euharlee Creek',
 'Upper Horse Creek',
 'Upper Jacks Creek',
 'Upper Kiokee Creek',
 'Upper Lake Blackshear',
 'Upper Lake Sidney Lanier',
 'Upper Lanahassee Creek',
 'Upper Line Creek',
 'Upper Little Cotton Indian Creek',
 'Upper Long Cane Creek',
 'Upper Mountain Creek',
 'Upper Mulberry River',
 'Upper New River',
 'Upper Noonday Creek',
 'Upper North Newport River',
 'Upper Noses Creek',
 'Upper Racoon Creek',
 'Upper Rooty Creek',
 'Upper Settingdown Creek',
 'Upper Shoal Creek',
 'Upper Soquee River',
 'Upper South Chickamauga Creek',
 'Upper South Newport River',
 'Upper Spanish Creek',
 'Upper Stekoa Creek',
 'Upper Sweetwater Creek',
 'Upper Tesnatee Creek',
 'Upper Walnut Creek',
 'Upper Warwoman Creek',
 'Upper White Oak Creek',
 'Upper Whitewater Creek',
 'Utoy Creek',
 'Valdosta-Withlacoochee River',
 'Vernon River',
 'Wahoo Creek',
 'Walden Branch-Ogeechee River',
 'Ward Creek-Etowah River',
 'Wassaw Sound-Frontal Atlantic Ocean',
 'Watson Creek-Ohoopee River',
 'Webb Creek-Coosa River',
 'Wells Mill Creek',
 'West Bainbridge-Flint River',
 'West Fork Chattooga River',
 'West Fork Little River',
 'White Oak Creek',
 'White Oak Creek-Chattahoochee River',
 'Whitewater Creek',
 'Wildcat Creek',
 'Wildcat Creek-Appalachee River',
 'Wildcat Creek-Oconee River',
 'Wilkey Creek-Pataula Creek',
 'Willbanks Branch-Coosawattee River',
 'Willeo Creek',
 'Wilmington River',
 'Wilscot Creek-Toccoa River',
 'Wilson Creek-Chattahoochee River',
 'Wilson Creek-West Point Lake',
 'Wise Creek-Ocmulgee River',
 'Wolf Creek',
 'Wolf Creek-Muckalee Creek',
 'Wolf Creek-Toccoa River',
 'Wolf Creek-West Point Lake',
 'Woodward Creek',
 'Wrights Creek-Alcovy River',
 'Yahoola Creek',
 'Yam Grandy Creek',
 'Yellow Creek-Chestatee River',
 'Yellow Creek-Etowah River',
 'Yellow Water Creek',
 'Yellowjacket Creek-West Point Lake',
 'Young Swamp-Buck Hill Swamp',
 'Youngcane Creek',
 'Zachry Creek-Chattahoochee River'}

## Add watershed domain as a new column

In [421]:
df = df.assign(wbd=wbds)

Do 'None' WBD values correspond only to measurements outside of GA?

Do some correspond to the apparently non-covered areas in the GA map?

In [423]:
no_wbd_df = df[df['wbd'].isnull()]

In [424]:
len(no_wbd_df)

4237

In [425]:
no_wbd_df['state'].value_counts()

Florida           1695
South Carolina    1196
North Carolina     794
Tennessee          358
Alabama            144
Georgia             38
Name: state, dtype: int64

In [426]:
no_wbd_ga_df = no_wbd_df[no_wbd_df['state'] =='Georgia']

In [428]:
no_wbd_ga_df['SiteName'].value_counts()

Tybee Island Beach    21
North Beach           17
Name: SiteName, dtype: int64

Result:
 - This validates that the only issue with WBDs was graphing-related and that in fact all GA locations apart from Tybee Island Beach and North Beach match a WBD

Conclusion:
 - We should remove all records not corresponding to a GA watershed whose state field is not GA
 - Note that this protects the two Beach locations with no WBD, and retains those non-GA locations that correspond to in-GA watersheds.

In [429]:
non_ga_wbd_df = no_wbd_df[no_wbd_df['state'] != 'Georgia']

In [430]:
len(non_ga_wbd_df)

4199

In [431]:
df.drop(index=non_ga_wbd_df.index, inplace=True)

In [432]:
# check result
assert len(df[df['wbd'].isnull()]) == 38

In [86]:
def make_plot(fips, gdf):
    #fig = go.Figure(go.Scattergeo())
    fig = ff.create_choropleth(
        fips=fips,
        values=np.zeros(len(fips)),
        scope=['Georgia'],
        show_state_data=True,
        #colorscale="Reds", #colorscale,
        #binning_endpoints=endpts,
        round_legend_values=True,
        plot_bgcolor='rgb(229,229,229)',
        paper_bgcolor='rgb(229,229,229)',
        #legend_title=title,
        showlegend = False,
        county_outline={'color': 'rgb(255,255,255)', 'width': 0.5},
        exponent_format=False,
    )
    fig.layout.template = None
    fig.add_scattergeo(
        lat = gdf.geometry.x,
        lon = gdf.geometry.y,
        hoverinfo='none',
        #mode = 'markers', # 'markers+text'
        #text = texts,
        marker_size = 2,
        marker_color = 'rgb(235, 0, 100)'
    )
    hover_ix, hover = [(ix, t) for ix, t in enumerate(fig['data']) if t.text][0]
    if len(hover['text']) != len(GA_map):
        # hack fixes to hovertext while waiting on Issue 1429 to be fixed
        # https://github.com/plotly/plotly.py/issues/1429#issuecomment-506925578
        ht = pd.Series(hover['text'])

        no_dupe_ix = ht.index[~ht.duplicated()]

        hover_x_deduped = np.array(hover['x'])[no_dupe_ix]
        hover_y_deduped = np.array(hover['y'])[no_dupe_ix]

        new_hover_x = [x if type(x) == float else x[0] for x in hover_x_deduped]
        new_hover_y = [y if type(y) == float else y[0] for y in hover_y_deduped]

        fig['data'][hover_ix]['text'] = ht.drop_duplicates()
        fig['data'][hover_ix]['x'] = new_hover_x
        fig['data'][hover_ix]['y'] = new_hover_y
    fig.show()

In [ ]:
# doesn't properly scope to GA, shows whole world
# at least it's clear where the data is restricted to!
make_plot(fips, gdf)

## Lookup GIS place names associated with the recordings

Assumes that all NULL locations are already removed from the main dataframe

In [40]:
loc_lookup = fetch_geo_locs()

In [41]:
loc_lookup[3]['State']['name']

'Florida'

In [42]:
loc_lookup[155]['State']['name']

'Georgia'

Example location info

In [43]:
loc_lookup[0]

{'Block': {'FIPS': None, 'bbox': None},
 'County': {'FIPS': None, 'name': None},
 'State': {'FIPS': None, 'code': None, 'name': None},
 'status': 'OK',
 'executionTime': '0'}

In [44]:
loc_lookup[-1]

{'messages': ["FCC0001: The coordinate lies on the boundary of mulitple blocks, the block contains the clicked location is selected. For a complete list use showall=true to display 'intersection' element in the Block"],
 'Block': {'FIPS': '370399301002000',
  'bbox': [-83.7769, 35.212586, -83.702902, 35.25766]},
 'County': {'FIPS': '37039', 'name': 'Cherokee'},
 'State': {'FIPS': '37', 'code': 'NC', 'name': 'North Carolina'},
 'status': 'OK',
 'executionTime': '0'}

In [267]:
distance.distance(loc_pairs[3], loc_pairs[155]).miles

426.12898114111164

In [318]:
df.reset_index(inplace=True, drop=True)

In [329]:
row_loc_idxs = []
loc_pairs_for_df = []
seen_locs = {} # cache given high number of dupes

# for any row in full dataset, identify which unique location result
for idx in tqdm(range(len(df))):
    siteloc = df.iloc[idx]['SiteLocation']
    # lat, lon pair
    loc = tuple([float(x) for x in siteloc.split()])
    try:
        loc_idx = seen_locs[siteloc]
    except KeyError:
        # guaranteed to be unique by virtue of loc_pairs being created as unique values
        found_idxs = np.where(loc_pairs==loc)[0]
        if len(found_idxs) == 2 and len(set(found_idxs)) == 1:
            loc_idx = found_idxs[0]
        else:
            # maybe one coord matched but can't be both, so all idxs will have count of max 1 except for one
            loc_idx, count = Counter(found_idxs).most_common(1)[0]
            assert count == 2
        seen_locs[siteloc] = loc_idx
    row_loc_idxs.append(loc_idx)
    loc_pairs_for_df.append(loc)

100%|██████████| 63797/63797 [00:14<00:00, 4500.64it/s]

In [313]:
states_for_df = []
counties_for_df = []
for i in row_loc_idxs:
    states_for_df.append(loc_lookup[i]['State']['name'])
    counties_for_df.append(loc_lookup[i]['County']['name'])

In [375]:
df.insert(3, 'long', np.array(loc_pairs_for_df).T[1])
df.insert(3, 'lat', np.array(loc_pairs_for_df).T[0])
df.insert(3, 'county', counties_for_df)
df.insert(3, 'state', states_for_df)

In [334]:
df[['lat', 'long', 'SiteLocation']].tail()

           lat     long       SiteLocation
63792  32.0067 -84.2266  32.0067  -84.2266
63793  31.2387 -82.3231  31.2387  -82.3231
63794  31.2933 -81.9571  31.2933  -81.9571
63795  31.2196 -81.8677  31.2196  -81.8677
63796  31.2400 -81.8634    31.24  -81.8634

We'll keep "SiteLocation" to allow easy checking of unique lat-long pairs

# Checkpoint for stage 2 of cleaning (geo)

In [434]:
df.to_csv("export_dataframe_stage2.csv", index=False)

## Check on recorded locations from outside the USA!

In [186]:
non_usa_count = []
for i, d in enumerate(loc_lookup):
    if d['State']['FIPS'] is None:
        non_usa_count.append(i)
len(non_usa_count)

3

In [279]:
non_usa_count

[0, 1, 379]

Let's find them in the dataframe

In [336]:
df[df['long'] < -96]

,group_rid,GroupName,site_rid,state,county,long,lat,SiteName,SiteLocation,event_rid,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
35029,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35410,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35411,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36391,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,57519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37542,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,59997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [337]:
df[df['group_rid'] == 2359]

,group_rid,GroupName,site_rid,state,county,long,lat,SiteName,SiteLocation,event_rid,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
35029,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35410,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35411,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36391,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,57519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37542,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,59997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [338]:
df[df['GroupName'] == "Stream'n at Pin Point"]

,group_rid,GroupName,site_rid,state,county,long,lat,SiteName,SiteLocation,event_rid,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
35029,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35410,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35411,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36391,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,57519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37542,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,59997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [339]:
df[df['SiteName'] == "Gullah Gullah Creek"]

,group_rid,GroupName,site_rid,state,county,long,lat,SiteName,SiteLocation,event_rid,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
35029,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35410,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35411,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,56440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36391,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,57519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37542,2359,Stream'n at Pin Point,4557,None,None,-96.0333,18.97,Gullah Gullah Creek,18.97 -96.0333,59997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

How complete are these records anyway?

In [377]:
gullah_df = df[df['SiteName'] == "Gullah Gullah Creek"]

In [389]:
gullah_df[field_groups["core"]]

,event_date,volunteer_time,createdby,createddate,data_entry,participants
35029,2016-12-09 02:30:00,NaN,EPDMIG,3/10/17 11:48 PM,36434.0,1
35410,2017-01-13 13:00:00,NaN,EPDMIG,3/10/17 11:48 PM,36434.0,2
35411,2017-01-20 13:30:00,NaN,EPDMIG,3/10/17 11:48 PM,36434.0,2
36391,2017-04-11 11:00:00,65.0,lynn.neagley12@gmail.com,4/11/17 9:22 PM,36434.0,1
37542,2017-08-17 15:15:00,65.0,lynn.neagley12@gmail.com,8/20/17 9:53 PM,36434.0,1

In [397]:
def completion_by_fieldgroup(df: pd.DataFrame) -> dict:
    """Returns a dict of completion % for 
    """
    scores = {}
    for k, fields in field_groups.items():
        tot = len(df) * len(fields)
        num_filled = tot - df[fields].isnull().sum().sum()
        scores[k] = num_filled/tot
    return scores

In [398]:
completion_by_fieldgroup(gullah_df)

{'core': 0.9,
 'basic': 0.3473684210526316,
 'chem': 0.3181818181818182,
 'bact': 0.06666666666666667,
 'other': 0.0}

In [399]:
completion_by_fieldgroup(df)

{'core': 0.9295343041208834,
 'basic': 0.31316272090009184,
 'chem': 0.20733876058577846,
 'bact': 0.2026678370456291,
 'other': 0.000986387626825265}

# Coverage of WBDs by records

In [456]:
wbd_counts = df.groupby('wbd').agg(count=('wbd', 'count'))

In [452]:
wbd_no_records = set(wbd_names).difference(df['wbd'].unique())

In [458]:
wbd_counts.sort_values(by='count').head(10)

                              count
wbd
Shaddock Creek-Oconee River       1
Upper Tesnatee Creek              1
Heiferhorn Creek                  1
Town of Pelham-Big Slough         1
Pigeon Creek                      1
Harris Creek-St. Marys River      1
Hardy Mill Creek                  1
Upper Lanahassee Creek            1
Gola Creek-Potato Creek           1
Fords Creek-Ogeechee River        1

In [460]:
poorly_repd_wbds = wbd_counts[wbd_counts['count'] < 50]
well_repd_wbds = wbd_counts[wbd_counts['count'] >= 50]

In [463]:
len(wbd_no_records), len(poorly_repd_wbds), len(well_repd_wbds)

(1093, 376, 188)

In [464]:
completion_by_fieldgroup(df[df['wbd'].isin(set(well_repd_wbds.index))])

{'core': 0.925784996133024,
 'basic': 0.30055928684821104,
 'chem': 0.1986981649441046,
 'bact': 0.20278669760247486,
 'other': 0.0006032482598607888}

In [465]:
completion_by_fieldgroup(df[df['wbd'].isin(set(poorly_repd_wbds.index))])

{'core': 0.9675754910583406,
 'basic': 0.36397722538536315,
 'chem': 0.24142480211081793,
 'bact': 0.1798182351216652,
 'other': 0.0007538635506973238}

# Coverage of counties by records

In [466]:
county_counts = df.groupby('county').agg(count=('county', 'count'))

In [468]:
county_no_records = set(counties).difference(df['county'].unique())

In [470]:
county_counts.sort_values(by='count').head(10)

               count
county
Jones              1
Anderson           1
Marion             1
Wayne              1
Laurens            1
Hancock            1
Chattahoochee      1
Irwin              2
Webster            2
Miller             2

In [471]:
poorly_repd_counties = county_counts[county_counts['count'] < 50]
well_repd_counties = county_counts[county_counts['count'] >= 50]

In [472]:
len(county_no_records), len(poorly_repd_counties), len(well_repd_counties)

(14, 45, 90)

In [473]:
completion_by_fieldgroup(df[df['county'].isin(set(well_repd_counties.index))])

{'core': 0.9294503389330976,
 'basic': 0.3060116624963756,
 'chem': 0.20251973932345285,
 'bact': 0.20020063932530777,
 'other': 0.0005963311666229438}

In [474]:
completion_by_fieldgroup(df[df['county'].isin(set(poorly_repd_counties.index))])

{'core': 0.9573791348600509,
 'basic': 0.3544931029864738,
 'chem': 0.22374508443210733,
 'bact': 0.22357930449533503,
 'other': 0.0021810250817884407}

# Q. Is it always the same groups that measure at the same locations?

In [400]:
df['group_rid'].nunique()

1112

In [401]:
df.groupby('group_rid').count()

,GroupName,site_rid,state,county,lat,long,SiteName,SiteLocation,event_rid,event_date,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
group_rid,,,,,,,,,,,,,,,,,,,,,
104,3,3,3,3,3,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
130,40,40,40,40,40,40,40,40,40,40,...,0,0,0,0,0,0,0,0,0,0
133,13,13,13,13,13,13,13,13,13,13,...,0,0,0,0,0,0,0,0,0,0
134,3,3,3,3,3,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
137,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2997,3,3,3,3,3,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
3006,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3007,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3008,3,3,3,3,3,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
3009,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,0,0,0,0,1

In [403]:
df[['group_rid','SiteName']].groupby('SiteName').count()

                                                    group_rid
SiteName
 Ivy Creek & Little Ivy Creek                              26
#1b Disharoon Creek before it enters Disharoon ...          3
#22 Key Largo                                               8
#5a Disharoon Creek                                        49
#6 East Branch Long Swamp Creek                             7
...                                                       ...
up stream Trib of Peachtree Creek                           1
upper cherry creek                                          8
white marlin nautilus dr                                    1
wildcat                                                     1
wildcreek                                                   1

[2188 rows x 1 columns]

In [404]:
df[['group_rid','SiteLocation']].groupby('SiteLocation').count()

                   group_rid
SiteLocation
18.97  -96.0333            5
24.2808  -82.2217          4
24.5251  -81.5192          3
24.5457  -81.7836          1
24.5463  -81.7945          2
...                      ...
35.2064  -83.8156         36
35.2112  -83.3252          2
35.2297  -83.7392          3
35.2331  -83.7207          3
35.2416  -83.7083          3

[2917 rows x 1 columns]

Results:
 - observation:
     - there are 5 SiteLocations indicating to be outside of the USA, all at the same spot in Mexico
     - The records are labelled with GroupName "Stream'n at Pin Point" with group_rid 2359 and SiteName "Gullah Gullah Creek"
     - Those 5 records are the only ones recorded by that group and at that SiteName
     - The name "Gullah Gullah Creek" has no hits on Google, but "Gullah" is associated with an area near Charleston, SC.
 - source: plotting the (lat, lon) on a map
 - conclusion: we should remove these records from the dataset as not being close to GA

We've removed these anyway by virtue of the WBD screening!

<br><hr><br>

Show example of location being way outside of the USA

In [ ]:
fig = go.Figure(go.Scattergeo())
fig.layout.template = None
fig.add_scattergeo(
    lat = [gdf.geometry.x[0]],
    lon = [gdf.geometry.y[0]],
    hoverinfo='none',
    #mode = 'markers+text',
    #text = texts,
    marker_size = 10, #2,
    marker_color = 'rgb(235, 0, 100)'
)
fig.update_geos(
    visible=False, resolution=110, #scope="usa",
    showcountries=True, countrycolor="Black",
    showsubunits=True, subunitcolor="Black"
)
fig.show()

## Other non-GA locations of records

We'll compare locations to the borders of GA state using state GIS shape data and an algorithm based on drawing a line from a given measurement location to the closest state boundary line segment. The source of this approach is from https://www.reddit.com/r/dataisbeautiful/comments/6ulj3v/the_longest_straight_line_that_can_be_drawn_in/

In [341]:
ga_locs = []
states = []
non_ga_idxs = defaultdict(list)
for i, d in enumerate(loc_lookup):
    if i in non_usa_count:
        continue
    else:
        state_name = d['State']['name']
        states.append(state_name)
        if state_name == "Georgia":
            ga_locs.append(tuple(loc_pairs[i]))
        else:
            non_ga_idxs[state_name].append(i)
Counter(states).most_common()

[('Georgia', 2570),
 ('Florida', 142),
 ('South Carolina', 105),
 ('North Carolina', 60),
 ('Tennessee', 25),
 ('Alabama', 12)]

In [372]:
SC_df = df[df['state'] == 'South Carolina']

In [373]:
SC_df.head()

,group_rid,GroupName,site_rid,state,county,long,lat,SiteName,SiteLocation,event_rid,...,hold_end_datetime,min_temp,max_temp,three_M_plate,ecoli_idexx,fecal_coliform,ecoli_other,ecoli_other_unit,comments,warnings
5785,1087,AAAS Stream Stompers,953,South Carolina,Aiken,-81.8534,33.3345,Hollow Creek 1,33.3345 -81.8534,22175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5788,1087,AAAS Stream Stompers,953,South Carolina,Aiken,-81.8534,33.3345,Hollow Creek 1,33.3345 -81.8534,22179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5789,1087,AAAS Stream Stompers,954,South Carolina,Aiken,-81.8222,33.3434,Hollow Creek 2,33.3434 -81.8222,22181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5790,1087,AAAS Stream Stompers,954,South Carolina,Aiken,-81.8222,33.3434,Hollow Creek 2,33.3434 -81.8222,22182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5794,1087,AAAS Stream Stompers,953,South Carolina,Aiken,-81.8534,33.3345,Hollow Creek 1,33.3345 -81.8534,22186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
_, _, gdf_sc = get_loc_objects_from_series(SC_df['SiteLocation'])

### How far are these non-GA locations from the GA border?

In [183]:
from scipy.spatial import ConvexHull, convex_hull_plot_2d
import math

In [189]:
hull = ConvexHull(ga_locs)

In [190]:
ga_hull_points = np.array(ga_locs)[hull.vertices]

### Tools for observations

In [299]:
def dist_to_line(x1, y1, x2, y2, px, py) -> float:
    """Find shortest distance of a point to a line segment
    
    (px, py) are the coords of the point to compare to the line given by (x1, y1), (x2, y2).
    
    Reference: from http://stackoverflow.com/questions/849211/shortest-distance-between-a-point-and-a-line-segment
    
    For GIS, this cheats by using Euclidean 2D distance rather than a geodesic, but we should be close enough at the scale
    of a state to identify which convex hull line to use. Then we can measure more precisely.
    """
    dx = x2 - x1
    dy = y2 - y1
    u =  ((px - x1) * dx + (py - y1) * dy) / (dx*dx + dy*dy)

    if u > 1:
        u = 1
    elif u < 0:
        u = 0

    return (x1 + u * dx, y1 + u * dy)

In [305]:
def sq_dist(x1, y1, x2, y2) -> float:
    """Utility to return the squared distance between point (x1, y1) and (x2, y2).
    """
    dx = x1 - x2
    dy = y1 - y2
    return dx*dx + dy*dy

### Calcs for observations

In [312]:
dist_to_ga = {}
for state, idxs in tqdm(non_ga_idxs.items()):
    dist_to_ga[state] = {}
    for idx in idxs:
        p = loc_pairs[idx]
        close_pts = []
        for i in range(len(ga_hull_points)-1):
            close_pts.append(dist_to_line(ga_hull_points[i][0],
                                            ga_hull_points[i][1],
                                            ga_hull_points[i+1][0],
                                            ga_hull_points[i+1][1],
                                            p[0], p[1]))
        sq_dists = [sq_dist(cp[0], cp[1], p[0], p[1]) for cp in close_pts]
        ci = np.argmin(sq_dists)
        dist_to_ga[state][idx] = distance.distance(ga_hull_points[ci], p).miles

100%|██████████| 5/5 [00:00<00:00, 43.98it/s]

In [316]:
pd.DataFrame(dist_to_ga['Florida'].values()).describe()

                0
count  142.000000
mean   337.961919
std    144.543301
min      1.335761
25%    388.724784
50%    415.330678
75%    421.862131
max    427.139693

In [317]:
pd.DataFrame(dist_to_ga['Alabama'].values()).describe()

                0
count   12.000000
mean    75.408657
std     46.230323
min     41.364905
25%     49.562724
50%     50.640955
75%     84.173838
max    161.716842

In [318]:
pd.DataFrame(dist_to_ga['Tennessee'].values()).describe()

               0
count  25.000000
mean    9.644941
std     2.841635
min     2.057784
25%     8.270898
50%     9.257004
75%    11.680576
max    14.731425

In [319]:
pd.DataFrame(dist_to_ga['South Carolina'].values()).describe()

                0
count  105.000000
mean    55.188245
std     20.092929
min      2.356079
25%     39.960461
50%     56.503895
75%     71.232295
max    106.960527

In [320]:
pd.DataFrame(dist_to_ga['North Carolina'].values()).describe()

               0
count  60.000000
mean   73.560841
std    23.057736
min     2.570491
25%    76.592661
50%    81.451586
75%    85.208131
max    88.496757

# Validate site name <--> location mapping

In [39]:
locs['SiteLocation'].apply(len).value_counts()

17    53358
16     8393
15     1890
14      100
13       29
12       21
11        6
Name: SiteLocation, dtype: int64

In [32]:
all_site_names = list(locs['SiteName'].unique())
len(all_site_names)

2189

In [70]:
site_loc_map = defaultdict(set)
for site_name in all_site_names:
    this_site = df[df['SiteName'] == site_name]
    site_loc_map[site_name].update(set(this_site['latlong']))

In [13]:
all_site_names[:10]

['West Fork of Little River',
 'Apalachee River',
 'Alcovy River',
 'Bear Creek',
 'Beaverbrook Stream',
 'Herb River',
 'Bluestone Creek',
 'Braxton Creek',
 'Calls Creek',
 'Caney Creek']

Number of separate (lat, long) locations identified at the same named site

In [71]:
len(site_loc_map['West Fork of Little River'])

2

In [73]:
len(site_loc_map['Calls Creek'])

94

In [74]:
len(site_loc_map['Herb River'])

4

In [124]:
site_name = 'Calls Creek'

In [125]:
site_df = df[df['SiteName'] == site_name]

In [128]:
site_df['county'].value_counts()

Oconee    175
Name: county, dtype: int64

In [126]:
loc_pairs_site, geo_locs_site, gdf_site = get_loc_objects_from_series(site_df['SiteLocation'])

## Load US city and town locations, as reference

The cities data is currently unused, since mapbox allows place names on the background maps.

In [88]:
with open('geodata/stanford-bx729wr3020-geojson.json') as json_file:
    cities = json.load(json_file)

In [146]:
ga_cities = {'type': 'FeatureCollection', 'features': [c for c in cities['features'] if c['properties']['state'] == 'GA']}

In [147]:
site_cities = {'type': 'FeatureCollection', 'features': [c for c in ga_cities['features'] if c['properties']['county'] == 'Oconee']}

In [142]:
len(site_cities['features'])

5

In [130]:
site_cities[0]

{'type': 'Feature',
 'id': 'bx729wr3020.15648',
 'geometry': {'type': 'Point', 'coordinates': [-83.4387722, 33.8192864]},
 'geometry_name': 'geom',
 'properties': {'gnis_id': 311456,
  'ansicode': '2405269',
  'feature': 'Civil',
  'feature2': '-999',
  'name': 'Bishop',
  'pop_2010': 224,
  'county': 'Oconee',
  'countyfips': '219',
  'state': 'GA',
  'state_fips': '13',
  'latitude': 33.8192864,
  'longitude': -83.4387722,
  'poppllat': 33.8192864,
  'poppllong': -83.4387722,
  'elev_in_m': 237,
  'elev_in_ft': 778},
 'bbox': [-83.4387722, 33.8192864, -83.4387722, 33.8192864]}

In [ ]:
fig = go.Figure(
    data=[
        go.Scattergeo(
            lat=[feature["geometry"]["coordinates"][1]],
            lon=[feature["geometry"]["coordinates"][0]],
            mode="lines",
            line=dict(width=8, color="#F00"),
            showlegend = False,
        )
        for feature in ga_cities[:10]
    ]
)

fig.update_layout(
    geo={
        'lonaxis': { 'range': [-30, 60] },
        'lataxis': { 'range': [30, 70] }
    }
)
fig.show()

In [ ]:
fig = ff.create_choropleth(
        fips=fips, values=values, scope=['Georgia'], show_state_data=True,
        #colorscale="Reds", #colorscale,
        binning_endpoints=endpts, round_legend_values=True,
        plot_bgcolor='rgb(229,229,229)',
        paper_bgcolor='rgb(229,229,229)',
        legend_title=title,
        county_outline={'color': 'rgb(255,255,255)', 'width': 0.5},
        exponent_format=False,
    )
fig.layout.template = None

<br><hr><br>